<form novalidate (ngSubmit)="onSubmit()" [formGroup]="formGroup">
  <div class="form-group">
    <app-alert></app-alert>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">{{ 'filed.password' | translate }}</div>
      <input type="password"
             id="password"
             name="password"
             class="form-control"
             formControlName="password"
             required
             [ngClass]="{ 'is-invalid': formGroup.controls?.['password']?.invalid && formGroup.controls?.['password']?.touched }"

      >
      <div class="input-group-addon">
        <fa-icon  [icon]="faIcon.faAsterisk" ></fa-icon>
      </div>
      <div *ngIf=" !submitted &&formGroup.controls?.['password']?.invalid ||formGroup.controls?.['password']?.touched"
           class="invalid-feedback">
        <div *ngIf="formGroup.controls?.['password']?.errors" class="pull-right">{{ 'common.required' | translate }}
        </div>
      </div>
    </div>
  </div>


  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">{{ 'filed.passwordConfirm' | translate }}</div>
      <input type="password"
             id="password_confirm"
             class="form-control"
             name="passConfirm"
             formControlName="passConfirm"
             required
             [ngClass]="{ 'is-invalid': formGroup.controls?.['passConfirm']?.invalid && formGroup.controls?.['passConfirm']?.touched }"
      >
      <div class="input-group-addon">
        <fa-icon  [icon]="faIcon.faAsterisk" ></fa-icon>
      </div>
      <div
        *ngIf=" !submitted &&formGroup.controls?.['passConfirm']?.invalid ||formGroup.controls?.['passConfirm']?.touched"
        class="invalid-feedback">
        <div *ngIf="formGroup.controls?.['passConfirm']?.errors?.['required']" class="pull-right">{{ 'common.required' | translate }}
        </div>
        <div *ngIf="formGroup.controls?.['passConfirm']?.errors?.['mustMatch']" class="pull-right">{{ 'common.notEqual' | translate }}
        </div>
      </div>
    </div>

  </div>
  <div class="form-actions form-group ">
    <button type="submit" class="btn btn-primary btn-sm">{{ 'common.submit' | translate }}</button>
  </div>

</form>
