<form novalidate (ngSubmit)="onSubmit()" [formGroup]="formGroup">
  <div class="form-group">
    <app-alert></app-alert>
  </div>
  <div class="form-group">
    <label>{{ 'filed.code' | translate }}</label>
    <input
      formControlName="code"
      required
      [ngClass]="{ 'is-invalid': formGroup.controls?.['code']?.invalid && formGroup.controls?.['code']?.touched }"
      class="au-input au-input--full"
      type="text"
      name="{{ 'filed.code' | translate }}"
      placeholder="{{ 'filed.code' | translate }}">
    <div *ngIf=" !submitted &&formGroup.controls?.['code']?.invalid ||formGroup.controls?.['code']?.touched"
         class="invalid-feedback">
      <div *ngIf="formGroup.controls?.['code']?.errors" class="pull-right">{{ 'common.required' | translate }}</div>
    </div>
  </div>
  <div class="form-group">
    <label class="m-t-10">{{ 'filed.phone' | translate }}</label>
    <input
      formControlName="phone"
      required
      [ngClass]="{ 'is-invalid': formGroup.controls?.['phone']?.invalid && formGroup.controls?.['phone']?.touched }"
      class="au-input au-input--full"
      type="text"
      name="phone"
      placeholder="{{ 'filed.phone' | translate }}">
    <div *ngIf=" !submitted &&formGroup.controls?.['phone']?.invalid ||formGroup.controls?.['phone']?.touched" class="invalid-feedback">
      <div *ngIf="formGroup.controls?.['phone']?.errors" class="pull-right">{{ 'common.required' | translate }}</div>
    </div>
  </div>
  <div class="form-group">
    <label class="m-t-10">{{ 'filed.password' | translate }}</label>
    <input
      formControlName="password"
      required
      [ngClass]="{ 'is-invalid': formGroup.controls?.['password']?.invalid && formGroup.controls?.['password']?.touched }"

      class="au-input au-input--full"
      type="password"
      name="password"
      placeholder="{{ 'filed.password' | translate }}">
    <div *ngIf=" !submitted &&formGroup.controls?.['password']?.invalid ||formGroup.controls?.['password']?.touched" class="invalid-feedback">
      <div *ngIf="formGroup.controls?.['password']?.errors" class="pull-right">{{ 'common.required' | translate }}</div>
    </div>
  </div>
  <div class="form-group">
    <label class="m-t-10">{{ 'filed.passwordConfirm' | translate }}</label>
    <input
      formControlName="passConfirm"
      required
      [ngClass]="{ 'is-invalid': formGroup.controls?.['passConfirm']?.invalid && formGroup.controls?.['passConfirm']?.touched }"
      class="au-input au-input--full"
      type="password"
      name="passConfirm"
      placeholder="{{ 'filed.passwordConfirm' | translate }}">
    <div *ngIf=" !submitted &&formGroup.controls?.['passConfirm']?.invalid ||formGroup.controls?.['passConfirm']?.touched" class="invalid-feedback">
      <div *ngIf="formGroup.controls?.['passConfirm']?.errors?.['required']" class="pull-right">{{ 'common.required' | translate }}</div>
      <div *ngIf="formGroup.controls?.['passConfirm']?.errors?.['mustMatch']" class="pull-right">{{ 'common.notEqual' | translate }}</div>
    </div>
  </div>
  <button
    class="au-btn au-btn--block au-btn--green m-t-20 "
    type="submit"
    [disabled]="formGroup.invalid">{{ 'auth.reset' | translate }}</button>
</form>
