<!-- //////////////////////Main-Started/////////////////////// -->
<main>

  <div class="hero-wrap" style="background-image: url('../../../../assets/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
        <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
          <div class="text">
            <h1 class="mb-4 bread">{{ 'auth.signIn' | translate }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ========================================================================= -->
  <section id="contact-page" class="p-t-120 p-b-80 " >
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-12">
          <div class="wrapper">
            <div class="content">
              <div class="login-wrap" >

                <div class="login-content" >
                  <div class="login-logo">

                      <h1 class="mb-2 bread text-center"></h1>

                  </div>

                  <div class="login-form">
                    <form (ngSubmit)="onSubmit(myform)" #myform="ngForm">

                      <div class="form-group">
                        <app-alert></app-alert>
                      </div>
                      <div class="form-group">
                        <label> {{ 'filed.emailPhoneUsername' | translate }}</label>
                        <input class="au-input au-input--full"
                               type="text"
                               name="login"
                               placeholder="{{ 'filed.emailPhoneUsername' | translate }}"
                               required
                               ngModel
                               #login="ngModel"
                               [ngClass]="{ 'is-invalid':   login.invalid && login.touched }"
                        >


                        <div *ngIf="myform.submitted && login.invalid" class="invalid-feedback">
                          <div *ngIf="login.errors?.['required']"
                               class="pull-right">{{ 'common.required' | translate }}</div>
                        </div>

                      </div>
                      <div class="form-group">
                        <label class="m-t-10">{{ 'filed.password' | translate }}</label>
                        <input class="au-input au-input--full "
                               type="password"
                               name="password"
                               placeholder="{{ 'filed.password' | translate }}"
                               required
                               ngModel
                               #password="ngModel"
                               [ngClass]="{ 'is-invalid':  password.invalid && password.touched }"
                        >
                        <div *ngIf="myform.submitted && password.invalid" class="invalid-feedback">
                          <div *ngIf="password.errors?.['required']"
                               class="pull-right">{{ 'common.required' | translate }}</div>
                        </div>
                      </div>
                      <hr>

                      <div class="login-checkbox">
                        <label >
                          <input class="pull-right"
                                 type="checkbox"
                                 name="remember"
                                 ngModel
                                 #rememb="ngModel"
                                 [(ngModel)]="remember">{{ 'auth.rememberMe' | translate }}
                        </label>
                        <!--                <label>-->
                        <!--                  <a [routerLink]="['../forgot']">{{ 'auth.forgotPassword' | translate }}</a>-->
                        <!--                </label>-->
                      </div>
                      <button

                        class="au-btn au-btn--block au-btn--blue m-b-20 m-t-15"
                        type="submit">{{ 'auth.signIn' | translate }}
                      </button>

                    </form>
                    <div class="card" style=" border: none; padding: 0; margin: 0">

                      <div class="card-body">
                        <button [routerLink]="['../sign-up']" data-toggle="tooltip"
                                tooltip=" {{ 'auth.doNotHave' | translate }}" type="button"
                                class="btn btn-link btn-sm">
                          {{ 'auth.signUp' | translate }}</button>

                        <button [routerLink]="['../forgot']" data-toggle="tooltip"
                                tooltip="  {{ 'auth.doNotRememberPassword' | translate }}" type="button"
                                class="btn btn-link btn-sm">
                          {{ 'auth.forgotPassword' | translate }}</button>
                        <button [routerLink]="['../reset-password']" data-toggle="tooltip"
                                tooltip="   {{ 'auth.needResetPassword' | translate }}" type="button"
                                class="btn btn-link btn-sm">
                          {{ 'auth.resetPassword' | translate }}</button>
                        <button [routerLink]="['../activation']" data-toggle="tooltip"
                                tooltip="   {{ 'auth.needActivateAccount' | translate }}" type="button"
                                class="btn btn-link btn-sm">
                          {{ 'auth.activationAccount' | translate }}</button>
                        <!--                          <button type="button" class="btn btn-link btn-sm" (click)="loout()">logout</button>-->
                      </div>

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div> <!-- row -->
    </div>
  </section>
  <!-- ========================================================================= -->

</main>

