<div class="row">
  <div class="col-md-6 col-lg-3">
    <div class="statistic__item statistic__item--green text-lg-center " style="border-radius: 20px;  text-align: center;">
      <h2 class="number" style="margin-top: 45px">{{ overViewRows?.countPost?.users}}</h2>
      <span class="desc" style="color: black;">{{ 'dashboard.user' | translate }}</span>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="statistic__item statistic__item--orange text-lg-center" style="border-radius: 20px;text-align: center;">
      <h2 class="number" style="margin-top: 45px">{{ overViewRows?.countPost?.news}}</h2>
      <span class="desc" style="color: black;">{{ 'dashboard.news' | translate }}</span>

    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="statistic__item statistic__item--blue text-lg-center" style="border-radius: 20px;text-align: center;">
      <h2 class="number" style="margin-top: 45px">{{ overViewRows?.countPost?.contacts}}</h2>
      <span class="desc" style="color: black;">{{ 'dashboard.contact' | translate }}</span>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="statistic__item statistic__item--red text-lg-center " style="border-radius: 20px;text-align: center;">
      <h2 class="number " style="margin-top: 45px">{{ overViewRows?.countPost?.visitors}}</h2>
      <span class="desc" style="color: black;">{{ 'dashboard.visitor' | translate }}</span>

    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-lg-3">
    <div class="statistic__item statistic__item--green text-lg-center " style="border-radius: 20px;  text-align: center;">
      <h2 class="number" style="margin-top: 45px">{{ overViewRows?.countPost?.contacts}}</h2>
      <span class="desc" style="color: black;">{{ 'dashboard.contact' | translate }}</span>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="statistic__item statistic__item--orange text-lg-center" style="border-radius: 20px;text-align: center;">
      <h2 class="number" style="margin-top: 45px">{{ overViewRows?.countPost?.foods}}</h2>
      <span class="desc" style="color: black;">{{ 'dashboard.food' | translate }}</span>

    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="statistic__item statistic__item--blue text-lg-center" style="border-radius: 20px;text-align: center;">
      <h2 class="number" style="margin-top: 45px">{{ overViewRows?.countPost?.rooms}}</h2>
      <span class="desc" style="color: black;">{{ 'dashboard.room' | translate }}</span>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="statistic__item statistic__item--red text-lg-center " style="border-radius: 20px;text-align: center;">
      <h2 class="number " style="margin-top: 45px">{{ overViewRows?.countPost?.orders}}</h2>
      <span class="desc" style="color: black;">{{ 'dashboard.order' | translate }}</span>

    </div>
  </div>
</div>




<div class="row"*ngIf="overViewRows?.requestPost">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header" style="direction: ltr">
        <fa-icon [icon]="faIcon.faList"></fa-icon>
        <strong class="card-title pl-2">{{ 'dashboard.request' | translate }} </strong>
      </div>
      <div class="card-body">
        <!-- DATA TABLE-->
        <div class="table-responsive m-b-40">
          <table class="table table-borderless table-data3">
            <thead>
            <tr>
              <th>#</th>
              <th>{{ 'filed.title' | translate }}</th>
              <th>{{ 'filed.create' | translate }}</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of overViewRows?.requestPost;let i=index">
              <td>{{i + 1}}</td>
              <td>{{data.title.substr(0, 150)}}</td>
              <td>{{data.createdAt|date}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- END DATA TABLE-->
      </div>
    </div>
  </div>


</div>


<div class="row" *ngIf="overViewRows?.contactPost">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header" style="direction: ltr">
        <fa-icon [icon]="faIcon.faList"></fa-icon>
        <strong class="card-title pl-2">{{ 'dashboard.contact' | translate }} </strong>
      </div>
      <div class="card-body">
        <!-- DATA TABLE-->
        <div class="table-responsive m-b-40">
          <table class="table table-borderless table-data3">
            <thead>
            <tr>
              <th>#</th>
              <th>{{ 'filed.title' | translate }}</th>
              <th>{{ 'filed.create' | translate }}</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of overViewRows?.contactPost;let i=index">
              <td>{{i + 1}}</td>
              <td>{{data.title.substr(0, 150)}}</td>
              <td>{{data.createdAt|date}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- END DATA TABLE-->
      </div>
    </div>
  </div>


</div>

<div class="row" *ngIf="overViewRows?.newsPost">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header" style="direction: ltr">
        <fa-icon [icon]="faIcon.faList"></fa-icon>
        <strong class="card-title pl-2">{{ 'dashboard.news' | translate }} </strong>
      </div>
      <div class="card-body">
        <!-- DATA TABLE-->
        <div class="table-responsive m-b-40">
          <table class="table table-borderless table-data3">
            <thead>
            <tr>
              <th>#</th>
              <th>{{ 'filed.title' | translate }}</th>
              <th>{{ 'filed.create' | translate }}</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of overViewRows?.newsPost;let i=index">
              <td>{{i + 1}}</td>
              <td>{{data.title.substr(0, 150)}}</td>
              <td>{{data.createdAt|date}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- END DATA TABLE-->
      </div>
    </div>
  </div>


</div>

<div class="row" *ngIf="overViewRows?.visitorPost">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header" style="direction: ltr">
        <fa-icon [icon]="faIcon.faList"></fa-icon>
        <strong class="card-title pl-2">{{ 'dashboard.visitor' | translate }} </strong>
      </div>
      <div class="card-body">
        <!-- DATA TABLE-->
        <div class="table-responsive m-b-40">
          <table class="table table-borderless table-data3">
            <thead>
            <tr>
              <th>#</th>
              <th>{{ 'filed.country' | translate }}</th>
              <th>{{ 'filed.create' | translate }}</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of overViewRows?.visitorPost;let i=index">
              <td>{{i + 1}}</td>
              <td>{{data.country.substr(0, 150)}}</td>
              <td>{{data.createdAt|date}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- END DATA TABLE-->
      </div>
    </div>
  </div>


</div>

<div class="row" *ngIf="overViewRows?.userPost">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header" style="direction: ltr">
        <fa-icon [icon]="faIcon.faList"></fa-icon>
        <strong class="card-title pl-2">{{ 'dashboard.user' | translate }} </strong>
      </div>
      <div class="card-body">
        <!-- DATA TABLE-->
        <div class="table-responsive m-b-40">
          <table class="table table-borderless table-data3">
            <thead>
            <tr>
              <th>#</th>
              <th>{{ 'filed.userName' | translate }}</th>
              <th>{{ 'filed.create' | translate }}</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of overViewRows?.userPost;let i=index">
              <td>{{i + 1}}</td>
              <td>{{data.username.substr(0, 150)}}</td>
              <td>{{data.createdAt}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- END DATA TABLE-->
      </div>
    </div>
  </div>


</div>

<div class="row"*ngIf="overViewRows?.hotelPost">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header" style="direction: ltr">
        <fa-icon [icon]="faIcon.faList"></fa-icon>
        <strong class="card-title pl-2">{{ 'dashboard.hotelPost' | translate }} </strong>
      </div>
      <div class="card-body">
        <!-- DATA TABLE-->
        <div class="table-responsive m-b-40">
          <table class="table table-borderless table-data3">
            <thead>
            <tr>
              <th>#</th>
              <th>{{ 'filed.title' | translate }}</th>
              <th>{{ 'filed.create' | translate }}</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of overViewRows?.hotelPost;let i=index">
              <td>{{i + 1}}</td>
              <td>{{data.title.substr(0, 150)}}</td>
              <td>{{data.createdAt|date}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- END DATA TABLE-->
      </div>
    </div>
  </div>


</div>

<div class="row"*ngIf="overViewRows?.foodPost">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header" style="direction: ltr">
        <fa-icon [icon]="faIcon.faList"></fa-icon>
        <strong class="card-title pl-2">{{ 'dashboard.foodPost' | translate }} </strong>
      </div>
      <div class="card-body">
        <!-- DATA TABLE-->
        <div class="table-responsive m-b-40">
          <table class="table table-borderless table-data3">
            <thead>
            <tr>
              <th>#</th>
              <th>{{ 'filed.title' | translate }}</th>
              <th>{{ 'filed.create' | translate }}</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of overViewRows?.foodPost;let i=index">
              <td>{{i + 1}}</td>
              <td>{{data.title.substr(0, 150)}}</td>
              <td>{{data.createdAt|date}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- END DATA TABLE-->
      </div>
    </div>
  </div>


</div>

