
<div class="table-responsive">
  <table class="table table-top-campaign">
    <tbody>
    <tr>
      <td>{{ 'filed.permissionId' | translate }}</td>
      <td>{{this.permissionGroupDetail.data.permission }}</td>
    </tr>
    <tr>
      <td>{{ 'filed.userName' | translate }}</td>
      <td>{{this.permissionGroupDetail.data.username }}</td>
    </tr>
    <tr>
      <td>{{ 'filed.firstName' | translate }}</td>
      <td>{{this.permissionGroupDetail.data.firstName }}</td>
    </tr>
    <tr>
      <td>{{ 'filed.lastName' | translate }}</td>
      <td>{{this.permissionGroupDetail.data.lastName }}</td>
    </tr>
    <tr>
      <td>{{ 'filed.actions' | translate }}</td>
      <td>{{this.permissionGroupDetail.data.actions}}</td>
    </tr>

    </tbody>
  </table>
</div>
