
<div class="table-responsive">
  <table class="table table-top-campaign">
    <tbody>
    <tr>
      <td>{{ 'filed.key' | translate }}</td>
      <td>{{this.settingDetail.data.key  }}</td>
    </tr>
    <tr>
      <td>{{ 'filed.value' | translate }}</td>
      <td>{{this.settingDetail.data.value}}</td>
    </tr>
    <tr>
      <td>{{ 'filed.status' | translate }}</td>
      <td>
        <span *ngIf="this.settingDetail.data.status==true" class="status--process">  {{ 'filed.activate' | translate }}</span>
        <span *ngIf="this.settingDetail.data.status==false" class="status--denied">  {{ 'filed.deActivate' | translate }}</span>

      </td>
    </tr>

    <tr>
      <td>{{ 'filed.description' | translate }}</td>
      <td>{{this.settingDetail.data.description}}</td>
    </tr>

    <tr>
      <td>{{ 'filed.create' | translate }}</td>
      <td>{{this.settingDetail.data.createdAt|date}}</td>
    </tr>

    <tr>
      <td>{{ 'filed.update' | translate }}</td>
      <td>{{this.settingDetail.data.updatedAt|date}}</td>
    </tr>
    </tbody>
  </table>
</div>
