

<ngx-spinner  bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise" [fullScreen] = "true"></ngx-spinner>

<router-outlet></router-outlet>
<!--<div class="vertical-container" >-->

<!--  <div class="content-container" >-->
<!--    <perfect-scrollbar  class="scroll-container"  [config]="config" [scrollIndicators]="true" >-->
<!--      <div class="scrollable-content">-->
<!--        Scroll<br>-->
<!--        me!<br>-->
<!--        <br>-->
<!--        I<br>-->
<!--        am<br>-->
<!--        an<br>-->
<!--        example<br>-->
<!--        content<br>-->
<!--        text<br>-->
<!--        for<br>-->
<!--        this<br>-->
<!--        really<br>-->
<!--        cooooooooooooooooooooooooooooooooooooooooooooooooool<br>-->
<!--        scrollable<br>-->
<!--        area<br>-->
<!--        in<br>-->
<!--        this<br>-->
<!--        example<br>-->
<!--        app<br>-->
<!--        which<br>-->
<!--        is<br>-->
<!--        using<br>-->
<!--        the<br>-->
<!--        angular2<br>-->
<!--        perfect<br>-->
<!--        scrollbar<br>-->
<!--        library<br>-->
<!--      </div>-->
<!--    </perfect-scrollbar>-->


<!--  </div>-->
<!--</div>-->
