
<div class="table-responsive">
  <table class="table table-top-campaign">
    <tbody>
    <tr>
      <td>{{ 'filed.permissionId' | translate }}</td>
      <td>{{this.permissionGroupDetail.data.permission }}</td>
    </tr>
    <tr>
      <td>{{ 'filed.group' | translate }}</td>
      <td>{{this.permissionGroupDetail.data.group }}</td>
    </tr>

    <tr>
      <td>{{ 'filed.actions' | translate }}</td>
      <td>{{this.permissionGroupDetail.data.actions}}</td>
    </tr>

    </tbody>
  </table>
</div>
