<div class="table-responsive table-responsive-data2">


  <app-searching-filed [service]="this.permissionGroupService" [redirectPath]="'permission-group'"
                       [dataSort]="this.sortData"></app-searching-filed>


  <table class="table table-data2">
    <thead>
    <tr>
      <th>#</th>
      <th>{{ 'filed.permissionId' | translate }}</th>
      <th>{{ 'filed.group' | translate }}</th>
      <th>{{ 'filed.actions' | translate }}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr class="tr-shadow" *ngFor=" let item of this.permissionGroup; let i= index;">
      <td>{{i + 1}}</td>
      <td>
        <span class="block-email">{{item.permission}}</span>
      </td>
      <td>
        <span class="block-email">{{item.group}}</span>
      </td>
      <td>
        <span class="block-email">{{item.actions}}</span>
      </td>
      <td>
        <div class="table-data-feature">

          <button appActions [permissionType]="this.permissionType.Put" [permissionName]="this.permissionName"   tooltip="{{ 'common.edit' | translate }}" (click)="onEditItem(item.id)" class="item"
                  data-toggle="tooltip">
            <fa-icon [icon]="faIcon.faEdit"></fa-icon>
          </button>
          <button appActions [permissionType]="this.permissionType.Delete" [permissionName]="this.permissionName"  tooltip="{{ 'common.remove' | translate }}" (click)="onOpenModal(item.id,i)"
                  class="item" data-toggle="tooltip">
            <fa-icon [icon]="faIcon.faTrash"></fa-icon>
          </button>
          <button appActions [permissionType]="this.permissionType.Get" [permissionName]="this.permissionName"  tooltip="{{ 'common.detail' | translate }}" (click)="onDetailItem(item.id)" class="item"
                  data-toggle="tooltip">
            <fa-icon [icon]="faIcon.faEnvelopeOpen"></fa-icon>
          </button>

        </div>
      </td>


    </tr>
    <tr class="spacer"></tr>

    </tbody>
  </table>

  <div class="row">
    <div class="col-12 col-md-12 col-xs-12">
      <pagination
        class="pagination  justify-content-center"
        previousText="{{ 'common.previous' | translate }}"
        nextText="{{ 'common.next' | translate }}"
        [totalItems]="totalPage"
        [(ngModel)]="currentPage"
        (pageChanged)="onChangePaginate($event)"
        [maxSize]="sizePage"></pagination>
    </div>
  </div>


