
<main>

  <div class="hero-wrap" style="background-image: url('../../../../assets/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
        <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
          <div class="text">
            <h1 class="mb-4 bread">{{ 'auth.resetPassword' | translate }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ========================================================================= -->
  <section id="contact-page" class="p-t-120 p-b-80 " >
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-12">
          <div class="wrapper">
            <div class="content">
              <div class="login-wrap">
                <div class="login-content">

                  <div class="login-logo">

                    <h1 class="mb-2 bread"></h1>
                  </div>
                  <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="custom-nav-info-tab" data-toggle="tab"
                         href="#custom-nav-info" role="tab" aria-controls="custom-nav-info"
                         aria-selected="true" (click)="onClearAlert()">{{ 'auth.resetViaEmail' | translate }}</a>
                      <a class="nav-item nav-link" id="custom-nav-address-tab" data-toggle="tab"
                         href="#custom-nav-address" role="tab" aria-controls="custom-nav-address"
                         aria-selected="false" (click)="onClearAlert()">{{ 'auth.resetViaSms' | translate }}</a>

                    </div>
                  </nav>
                  <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="custom-nav-info" role="tabpanel"
                         aria-labelledby="custom-nav-info-tab">
                      <div class="login-form">
                        <form novalidate (ngSubmit)="onSubmit()" [formGroup]="fromGroupEmail">
                          <div class="form-group">
                            <app-alert></app-alert>
                          </div>
                          <div class="form-group">
                            <label>{{ 'filed.token' | translate }}</label>
                            <input
                              formControlName="token"
                              required
                              [ngClass]="{ 'is-invalid': fromGroupEmail.controls?.['token']?.invalid && fromGroupEmail.controls?.['token']?.touched }"
                              class="au-input au-input--full"
                              type="text"
                              name="token"
                              placeholder="{{ 'filed.token' | translate }}">
                            <div *ngIf=" !submitted &&fromGroupEmail.controls?.['token']?.invalid ||fromGroupEmail.controls?.['token']?.touched"
                                 class="invalid-feedback">
                              <div *ngIf="fromGroupEmail.controls?.['token']?.errors" class="pull-right">{{ 'common.required' | translate }}</div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="m-t-10">{{ 'filed.email' | translate }}</label>
                            <input
                              formControlName="email"
                              required
                              [ngClass]="{ 'is-invalid': fromGroupEmail.controls?.['email']?.invalid && fromGroupEmail.controls?.['email']?.touched }"
                              class="au-input au-input--full"
                              type="email"
                              name="email"
                              placeholder="{{ 'filed.email' | translate }}">
                            <div *ngIf=" !submitted &&fromGroupEmail.controls?.['email']?.invalid ||fromGroupEmail.controls?.['email']?.touched" class="invalid-feedback">
                              <div *ngIf="fromGroupEmail.controls?.['email']?.errors" class="pull-right">{{ 'common.required' | translate }}</div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="m-t-10">{{ 'filed.password' | translate }}</label>
                            <input
                              formControlName="password"
                              required
                              [ngClass]="{ 'is-invalid': fromGroupEmail.controls?.['password']?.invalid && fromGroupEmail.controls?.['password']?.touched }"

                              class="au-input au-input--full"
                              type="password"
                              name="password"
                              placeholder="{{ 'filed.password' | translate }}">
                            <div *ngIf=" !submitted &&fromGroupEmail.controls?.['password']?.invalid ||fromGroupEmail.controls?.['password']?.touched" class="invalid-feedback">
                              <div *ngIf="fromGroupEmail.controls?.['password']?.errors" class="pull-right">{{ 'common.required' | translate }}</div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="m-t-10">{{ 'filed.passwordConfirm' | translate }}</label>
                            <input
                              formControlName="passConfirm"
                              required
                              [ngClass]="{ 'is-invalid': fromGroupEmail.controls?.['passConfirm']?.invalid && fromGroupEmail.controls?.['passConfirm']?.touched }"
                              class="au-input au-input--full"
                              type="password"
                              name="passConfirm"
                              placeholder="{{ 'filed.passwordConfirm' | translate }}">
                            <div *ngIf=" !submitted &&fromGroupEmail.controls?.['passConfirm']?.invalid ||fromGroupEmail.controls?.['passConfirm']?.touched" class="invalid-feedback">
                              <div *ngIf="fromGroupEmail.controls?.['passConfirm']?.errors?.['required']" class="pull-right">{{ 'common.required' | translate }}</div>
                              <div *ngIf="fromGroupEmail.controls?.['passConfirm']?.errors?.['mustMatch']" class="pull-right">{{ 'common.notEqual' | translate }}</div>
                            </div>
                          </div>
                          <button
                            class="au-btn au-btn--block au-btn--green m-t-20"
                            type="submit"
                            [disabled]="fromGroupEmail.invalid">{{ 'auth.reset' | translate }}</button>
                        </form>

                      </div>
                    </div>
                    <div class="tab-pane fade" id="custom-nav-address" role="tabpanel"
                         aria-labelledby="custom-nav-address-tab">
                      <div class="login-form">
                        <form novalidate (ngSubmit)="onSubmit2()" [formGroup]="fromGroupSms">
                          <div class="form-group">
                            <app-alert></app-alert>
                          </div>
                          <div class="form-group">
                            <label>{{ 'filed.code' | translate }}</label>
                            <input
                              formControlName="code"
                              required
                              [ngClass]="{ 'is-invalid': fromGroupSms.controls?.['code']?.invalid && fromGroupSms.controls?.['code']?.touched }"
                              class="au-input au-input--full"
                              type="text"
                              name="{{ 'filed.code' | translate }}"
                              placeholder="{{ 'filed.code' | translate }}">
                            <div *ngIf=" !submitted2 &&fromGroupSms.controls?.['code']?.invalid ||fromGroupSms.controls?.['code']?.touched"
                                 class="invalid-feedback">
                              <div *ngIf="fromGroupSms.controls?.['code']?.errors" class="pull-right">{{ 'common.required' | translate }}</div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="m-t-10">{{ 'filed.phone' | translate }}</label>
                            <input
                              formControlName="phone"
                              required
                              [ngClass]="{ 'is-invalid': fromGroupSms.controls?.['phone']?.invalid && fromGroupSms.controls?.['phone']?.touched }"
                              class="au-input au-input--full"
                              type="text"
                              name="phone"
                              placeholder="{{ 'filed.phone' | translate }}">
                            <div *ngIf=" !submitted2 &&fromGroupSms.controls?.['phone']?.invalid ||fromGroupSms.controls?.['phone']?.touched" class="invalid-feedback">
                              <div *ngIf="fromGroupSms.controls?.['phone']?.errors" class="pull-right">{{ 'common.required' | translate }}</div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="m-t-10">{{ 'filed.password' | translate }}</label>
                            <input
                              formControlName="password"
                              required
                              [ngClass]="{ 'is-invalid': fromGroupSms.controls?.['password']?.invalid && fromGroupSms.controls?.['password']?.touched }"

                              class="au-input au-input--full"
                              type="password"
                              name="password"
                              placeholder="{{ 'filed.password' | translate }}">
                            <div *ngIf=" !submitted2 &&fromGroupSms.controls?.['password']?.invalid ||fromGroupSms.controls?.['password']?.touched" class="invalid-feedback">
                              <div *ngIf="fromGroupSms.controls?.['password']?.errors" class="pull-right">{{ 'common.required' | translate }}</div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="m-t-10">{{ 'filed.passwordConfirm' | translate }}</label>
                            <input
                              formControlName="passConfirm"
                              required
                              [ngClass]="{ 'is-invalid': fromGroupSms.controls?.['passConfirm']?.invalid && fromGroupSms.controls?.['passConfirm']?.touched }"
                              class="au-input au-input--full"
                              type="password"
                              name="passConfirm"
                              placeholder="{{ 'filed.passwordConfirm' | translate }}">
                            <div *ngIf=" !submitted2 &&fromGroupSms.controls?.['passConfirm']?.invalid ||fromGroupSms.controls?.['passConfirm']?.touched" class="invalid-feedback">
                              <div *ngIf="fromGroupSms.controls?.['passConfirm']?.errors?.['required']" class="pull-right">{{ 'common.required' | translate }}</div>
                              <div *ngIf="fromGroupSms.controls?.['passConfirm']?.errors?.['mustMatch']" class="pull-right">{{ 'common.notEqual' | translate }}</div>
                            </div>
                          </div>
                          <button
                            class="au-btn au-btn--block au-btn--green m-t-20 "
                            type="submit"
                            [disabled]="fromGroupSms.invalid">{{ 'auth.reset' | translate }}</button>
                        </form>

                      </div>
                    </div>


                  </div>

                  <div class="card" style=" border: none; padding: 0; margin: 0">
                    <div class="card-body">
                      <button [routerLink]="['/home/sign-in']" data-toggle="tooltip" tooltip="  {{ 'auth.alreadyHave' | translate }}" type="button" class="btn btn-link btn-sm">
                        {{ 'auth.signIn' | translate }}</button>
                      <button [routerLink]="['../sign-up']" data-toggle="tooltip" tooltip=" {{ 'auth.doNotHave' | translate }}" type="button" class="btn btn-link btn-sm">
                        {{ 'auth.signUp' | translate }}</button>

                      <button [routerLink]="['../forgot']" data-toggle="tooltip" tooltip="  {{ 'auth.doNotRememberPassword' | translate }}" type="button" class="btn btn-link btn-sm">
                        {{ 'auth.forgotPassword' | translate }}</button>
                      <button [routerLink]="['../activation']" data-toggle="tooltip" tooltip="   {{ 'auth.needActivateAccount' | translate }}" type="button" class="btn btn-link btn-sm">
                        {{ 'auth.activationAccount' | translate }}</button>

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div> <!-- row -->
    </div>
  </section>

  <!-- ========================================================================= -->

</main>
