
<main>
  <div class="hero-wrap" style="background-image: url('../../../../assets/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
        <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
          <div class="text">
            <h1 class="mb-4 bread">{{ 'auth.activationAccount' | translate }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section id="contact-page" class="p-t-120 p-b-80 " >
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-12">
          <div class="wrapper">
            <div class="content">
              <div class="login-wrap">
                <div class="login-content">
                  <div class="login-logo">

                    <h1 class="mb-2 bread"></h1>
                  </div>
                  <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="custom-nav-info-tab" data-toggle="tab"
                         href="#custom-nav-info" role="tab" aria-controls="custom-nav-info"
                         aria-selected="true" (click)="onClearAlert()">{{ 'auth.activateViaEmail' | translate }}</a>
                      <a class="nav-item nav-link" id="custom-nav-address-tab" data-toggle="tab"
                         href="#custom-nav-address" role="tab" aria-controls="custom-nav-address"
                         aria-selected="false" (click)="onClearAlert()">{{ 'auth.activateViaSms' | translate }}</a>

                    </div>
                  </nav>
                  <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="custom-nav-info" role="tabpanel"
                         aria-labelledby="custom-nav-info-tab">
                      <div class="login-form">
                      <app-activation-via-email></app-activation-via-email>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="custom-nav-address" role="tabpanel"
                         aria-labelledby="custom-nav-address-tab">
                      <div class="login-form">
                       <app-activation-via-sms></app-activation-via-sms>
                      </div>
                    </div>


                  </div>

                  <div class="card" style=" border: none; padding: 0; margin: 0">

                    <div class="card-body">
                      <button [routerLink]="['/home/sign-in']" data-toggle="tooltip" tooltip="  {{ 'auth.alreadyHave' | translate }}" type="button" class="btn btn-link btn-sm">
                        {{ 'auth.signIn' | translate }}</button>

                      <button [routerLink]="['../sign-up']" data-toggle="tooltip" tooltip=" {{ 'auth.doNotHave' | translate }}" type="button" class="btn btn-link btn-sm">
                        {{ 'auth.signUp' | translate }}</button>

                      <button [routerLink]="['../forgot']" data-toggle="tooltip" tooltip="  {{ 'auth.doNotRememberPassword' | translate }}" type="button" class="btn btn-link btn-sm">
                        {{ 'auth.forgotPassword' | translate }}</button>
                      <button [routerLink]="['../reset-password']" data-toggle="tooltip" tooltip="   {{ 'auth.needResetPassword' | translate }}" type="button" class="btn btn-link btn-sm">
                        {{ 'auth.resetPassword' | translate }}</button>

                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


</main>



