<aside class="menu-sidebar2">
  <div class="logo">
    <a title="Go To Home Page" [routerLink]="['../']">
      <img src="../../../../assets/images/icon/logo-white.png" alt="Cool Admin"/>
    </a>
  </div>
  <div class="menu-sidebar2__content js-scrollbar1">
    <div class="account2">
      <div class="image img-cir img-120">
        <img class="rounded-circle mx-auto d-block " [src]="this.getSantizeUrl(this.image)" alt="John Doe"/>
      </div>
      <a  [routerLink]="[links.profile]" class="name">{{this.userName}}</a>
      <a  [routerLink]="[links.profile]">{{this.fullName}}</a>
    </div>
    <nav class="navbar-sidebar2">
      <ul class="list-unstyled navbar__list">


        <li appMenu [category]="'dashboard'"   class="has-sub">
          <a class="js-arrow" (click)="isLeftArrow.dashboard = !isLeftArrow.dashboard"
             [attr.aria-expanded]="!isLeftArrow.dashboard" aria-controls="collapseLeftArrow0">
            <fa-icon [icon]="faIcon.faTachometerAlt"></fa-icon>
            {{ 'layout.header.dashboard' | translate }}
            <span [ngClass]="[isLeftArrow.dashboard ? 'arrow':'arrow up']">
                                  <fa-icon [icon]="faIcon.faAngleDown"></fa-icon>
                                </span>
          </a>
          <ul id="collapseLeftArrow0" [collapse]="isLeftArrow.dashboard" [isAnimated]="true"
              class="list-unstyled navbar__sub-list js-sub-list">
            <li  appActions [permissionType]="this.permissionType.Get" [permissionName]="'overView'">
              <a [routerLink]="[links.overView]">
                <fa-icon [icon]="faIcon.faList"></fa-icon>
                {{ 'layout.header.overView' | translate }}</a>
            </li>
            <li appActions [permissionType]="this.permissionType.Get" [permissionName]="'graph'">
              <a [routerLink]="[links.graph]">
                <fa-icon [icon]="faIcon.faChartArea"></fa-icon>
                {{ 'layout.header.graph' | translate }}</a>
            </li>

          </ul>
        </li>
        <li appMenu [category]="'account'"  class="has-sub">
          <a class="js-arrow" (click)="isLeftArrow.account = !isLeftArrow.account"
             [attr.aria-expanded]="!isLeftArrow.account" aria-controls="collapseLeftArrow1">
            <fa-icon [icon]="faIcon.faUsers"></fa-icon>
            {{ 'layout.header.accounts' | translate }}
            <span [ngClass]="[isLeftArrow.account ? 'arrow':'arrow up']">
                                    <fa-icon [icon]="faIcon.faAngleDown"></fa-icon>
                                </span>
          </a>
          <ul id="collapseLeftArrow1" [collapse]="isLeftArrow.account" [isAnimated]="true"
              class="list-unstyled navbar__sub-list js-sub-list">
            <li appActions [permissionType]="this.permissionType.Get" [permissionName]="'group'">
              <a [routerLink]="[links.group]">
                <fa-icon [icon]="faIcon.faUserFriends"></fa-icon>
                {{ 'layout.header.groups' | translate }}</a>
            </li>
            <li appActions [permissionType]="this.permissionType.Get" [permissionName]="'user'">
              <a [routerLink]="[links.users]">
                <fa-icon [icon]="faIcon.faUserPlus"></fa-icon>
                {{ 'layout.header.users' | translate }}</a>
            </li>
            <li appActions [permissionType]="this.permissionType.Get" [permissionName]="'permission'">
              <a [routerLink]="[links.permission]">
                <fa-icon [icon]="faIcon.faEye"></fa-icon>
                {{ 'layout.header.permissions' | translate }}</a>
            </li>
            <li appActions [permissionType]="this.permissionType.Get" [permissionName]="'permissionGroup'">
              <a [routerLink]="[links.permissionGroup]">
                <fa-icon [icon]="faIcon.faRandom"></fa-icon>
                {{ 'layout.header.permissionGroups' | translate }}</a>
            </li>
            <li appActions [permissionType]="this.permissionType.Get" [permissionName]="'permissionUser'">
              <a [routerLink]="[links.permissionUser]">
                <fa-icon [icon]="faIcon.faRetweet"></fa-icon>
                {{ 'layout.header.permissionUsers' | translate }}</a>
            </li>


          </ul>
        </li>

      </ul>
    </nav>
  </div>
</aside>
<!-- HEADER DESKTOP-->
<header class="header-desktop2">
  <div class="section__content section__content--p">
    <div class="container-fluid">
      <div class="header-wrap2">
        <div class="logo d-block d-lg-none">
          <a href="#">
            <img src="../../../../assets/images/icon/logo-white.png" alt="CoolAdmin"/>
          </a>
        </div>
        <div class="header-button2 ">

          <div class="header-button-item has-noti  d-sm-none d-none d-md-block d-xl-block ">
            <form class="form-header" style="margin-top: 4px" action="" method="POST">
              <input style="border-bottom-left-radius: 20px;border-top-left-radius: 20px" class=" au-input au-input--xl"
                     type="text" name="search" placeholder="Search for...">
              <button class="au-btn--submit " style="color:white;border-bottom-right-radius: 20px;border-top-right-radius: 20px"
                      type="submit">
                <fa-icon [icon]="faIcon.faSearch"></fa-icon>
              </button>
            </form>

          </div>
          <div class="header-button-item has-noti js-item-menu" (click)="toggleDropDown('notify')"
               [ngClass]="{ 'show-dropdown':isNotify }">
            <fa-icon [icon]="faIcon.faBell"></fa-icon>
            <div class="notifi-dropdown js-dropdown">
              <div class="notifi__title">
                <p># {{this.notify.length}} {{'layout.header.notifications' | translate}}</p>
              </div>

              <div *ngFor="let noty of this.notify;let i=index">

                <div class="notifi__item">
                  <div class=" img-cir img-40"
                       [ngClass]="this.appendColorIndex(i)"
                  >
                    <!--                    <fa-icon  [icon]="faIcon.faBell"></fa-icon>-->
                  </div>
                  <div class="content">
                    <p>{{noty.message}}({{noty.counter!}})</p>
                    <span class="date">{{noty.date!}}</span>
                  </div>
                </div>

              </div>

              <div class="notifi__footer">
                <a>{{ 'layout.header.allNotifications' | translate }}</a>
              </div>
            </div>
          </div>
          <div class="header-button-item js-item-menu d-lg-none" (click)="toggleDropDown('leftSideBar')">
            <fa-icon [icon]="faIcon.faBars"></fa-icon>
          </div>

          <div class="header-button-item mr-0 js-sidebar-btn  d-none d-lg-block "
               (click)="toggleDropDown('rightSideBar')"
          >
            <fa-icon [icon]="faIcon.faCog"></fa-icon>
          </div>
          <div id="collapseRightIdeBar"

               [ngClass]="{'show-sidebar':isRightSidebar}"

               class="setting-menu js-right-sidebar  d-lg-block">
            <div class="account-dropdown__body">
              <div class="account-dropdown__item">
                <a [routerLink]="[links.profile]">
                  <fa-icon [icon]="faIcon.faUserCircle"></fa-icon>
                  {{ 'layout.header.profile' | translate }}</a>
              </div>
              <div  appActions [permissionType]="this.permissionType.Get" [permissionName]="'setting'"  class="account-dropdown__item">
                <a [routerLink]="[links.setting]">
                  <fa-icon [icon]="faIcon.faTools"></fa-icon>
                  {{ 'layout.header.setting' | translate }} </a>
              </div>

              <div class="account-dropdown__item">
                <a style="cursor: pointer" (click)="onSignOut()">
                  <fa-icon [icon]="faIcon.faSignOutAlt"></fa-icon>
                  {{ 'layout.header.signOut' | translate }} </a>
              </div>
            </div>
            <div class="account-dropdown__body">


              <div class="account-dropdown__item">
                <a style="cursor: pointer" (click)="changeLanguage()">
                  <fa-icon [icon]="faIcon.faLanguage"></fa-icon>
                  {{ 'layout.header.language' | translate }} </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<aside class=" menu-sidebar2   js-right-sidebar  d-block  d-lg-none "
       [ngClass]="{ 'show-sidebar':isLeftSidebar }"

>
  <div class="logo">

  </div>
  <div class="menu-sidebar2__content js-scrollbar2">
    <div class="account2">
      <div class="image img-cir img-120">
        <img class="rounded-circle mx-auto d-block " [src]="this.getSantizeUrl(this.image)" alt="John Doe"/>
      </div>
      <h4 class="name">{{this.userName}}</h4>
      <a>{{this.fullName}}</a>
    </div>
    <nav class="navbar-sidebar2">
      <ul class="list-unstyled navbar__list">
        <li class="has-sub">
          <a class="js-arrow" (click)="isLeftArrow.setting = !isLeftArrow.setting"
             [attr.aria-expanded]="!isLeftArrow.setting" aria-controls="collapseLeftArrow000">
            <fa-icon [icon]="faIcon.faUserCog"></fa-icon>
            {{ 'layout.header.setting' | translate }}
            <span [ngClass]="[isLeftArrow.setting ? 'arrow':'arrow up']">
                                  <fa-icon [icon]="faIcon.faAngleDown"></fa-icon>
                                </span>
          </a>
          <ul id="collapseLeftArrow000" [collapse]="isLeftArrow.setting" [isAnimated]="true"
              class="list-unstyled navbar__sub-list js-sub-list">
            <li>
              <a [routerLink]="[links.profile]">
                <fa-icon [icon]="faIcon.faUserCircle"></fa-icon>
                {{ 'layout.header.profile' | translate }}</a>
            </li>
            <li  appActions [permissionType]="this.permissionType.Get" [permissionName]="'setting'">
              <a [routerLink]="[links.setting]" >
                <fa-icon [icon]="faIcon.faCog"></fa-icon>
                {{ 'layout.header.setting' | translate }}</a>
            </li>
            <li>
              <a style="cursor: pointer" (click)="onSignOut()">
                <fa-icon [icon]="faIcon.faSignOutAlt"></fa-icon>
                {{ 'layout.header.signOut' | translate }}</a>
            </li>
            <li>
              <a style="cursor: pointer" (click)="changeLanguage()">
                <fa-icon [icon]="faIcon.faLanguage"></fa-icon>
                {{ 'layout.header.language' | translate }}</a>
            </li>
          </ul>
        </li>

        <li appMenu [category]="'dashboard'"  class="has-sub">
          <a class="js-arrow" (click)="isLeftArrow.dashboard = !isLeftArrow.dashboard"
             [attr.aria-expanded]="!isLeftArrow.dashboard" aria-controls="collapseLeftArrow00">
            <fa-icon [icon]="faIcon.faTachometerAlt"></fa-icon>
            {{ 'layout.header.dashboard' | translate }}
            <span [ngClass]="[isLeftArrow.dashboard ? 'arrow':'arrow up']">
                                  <fa-icon [icon]="faIcon.faAngleDown"></fa-icon>
                                </span>
          </a>
          <ul id="collapseLeftArrow00" [collapse]="isLeftArrow.dashboard" [isAnimated]="true"
              class="list-unstyled navbar__sub-list js-sub-list">
            <li appActions [permissionType]="this.permissionType.Get" [permissionName]="'overView'">
              <a [routerLink]="[links.overView]">
                <fa-icon [icon]="faIcon.faList"></fa-icon>
                {{ 'layout.header.overView' | translate }}</a>
            </li>
            <li appActions [permissionType]="this.permissionType.Get" [permissionName]="'graph'">
              <a [routerLink]="[links.graph]">
                <fa-icon [icon]="faIcon.faChartArea"></fa-icon>
                {{ 'layout.header.graph' | translate }}</a>
            </li>

          </ul>
        </li>
        <li appMenu [category]="'account'"  class="has-sub">
          <a class="js-arrow" (click)="isLeftArrow.account = !isLeftArrow.account"
             [attr.aria-expanded]="!isLeftArrow.account" aria-controls="collapseLeftArrow11">
            <fa-icon [icon]="faIcon.faUsers"></fa-icon>
            {{ 'layout.header.accounts' | translate }}
            <span [ngClass]="[isLeftArrow.account ? 'arrow':'arrow up']">
                                    <fa-icon [icon]="faIcon.faAngleDown"></fa-icon>
                                </span>
          </a>
          <ul id="collapseLeftArrow11" [collapse]="isLeftArrow.account" [isAnimated]="true"
              class="list-unstyled navbar__sub-list js-sub-list">
            <li appActions [permissionType]="this.permissionType.Get" [permissionName]="'group'">
              <a [routerLink]="[links.group]">
                <fa-icon [icon]="faIcon.faUserFriends"></fa-icon>
                {{ 'layout.header.groups' | translate }}</a>
            </li>
            <li appActions [permissionType]="this.permissionType.Get" [permissionName]="'user'">
              <a [routerLink]="[links.users]">
                <fa-icon [icon]="faIcon.faUserPlus"></fa-icon>
                {{ 'layout.header.users' | translate }}</a>
            </li>
            <li appActions [permissionType]="this.permissionType.Get" [permissionName]="'permission'">
              <a [routerLink]="[links.permission]">
                <fa-icon [icon]="faIcon.faEye"></fa-icon>
                {{ 'layout.header.permissions' | translate }}</a>
            </li>
            <li appActions [permissionType]="this.permissionType.Get" [permissionName]="'permisionGroup'">
              <a [routerLink]="[links.permissionGroup]">
                <fa-icon [icon]="faIcon.faRandom"></fa-icon>
                {{ 'layout.header.permissionGroups' | translate }}</a>
            </li>
            <li appActions [permissionType]="this.permissionType.Get" [permissionName]="'permissionUser'">
              <a [routerLink]="[links.permissionUser]">
                <fa-icon [icon]="faIcon.faRetweet"></fa-icon>
                {{ 'layout.header.permissionUsers' | translate }}</a>
            </li>

          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>

<!-- END HEADER DESKTOP-->


<!-- BREADCRUMB-->
<section class="au-breadcrumb m-t-75">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="au-breadcrumb-content">
            <div class="au-breadcrumb-left">
              <span class="au-breadcrumb-span"> {{ 'layout.header.page' | translate }}</span>
              <ul class="list-unstyled list-inline au-breadcrumb__list">
                <li *ngFor="let ex of  explodeLink;" class="list-inline-item active">
                  <a href="{{pathLink}}">{{ex}}</a>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



